<h2>Danh sách người dùng</h2>

<div nz-row>
    <div class="search-box" nz-col [nzSpan]="6">
        <nz-input-group nzSearch [nzAddOnBefore]="prefixButton">
            <input [(ngModel)]="search" type="text" nz-input placeholder="Tên người dùng, số điện thoại hoặc email">
        </nz-input-group>
        <ng-template #prefixButton>
            Tìm kiếm
        </ng-template>
    </div>
    <button nz-button nz-col [nzSpan]="1" [nzOffset]="1" (click)="handleSearch()">Lọc</button>
    <button nz-button nz-col [nzSpan]="2" [nzOffset]="1" (click)="handleClearSearch()">Xóa lọc</button>
</div>

<div class="table-wrapper">
    <nz-table [nzData]="userList" nzSize="small" nzShowPagination="false" [nzScroll]="{y: '430px' }">
        <thead>
            <tr>
                <th nzWidth="50px">STT</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
            </tr>
        </thead>
        <tbody>
            @for(item of userList; track item.id){
            <tr>
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
            </tr>
            }
        </tbody>
    </nz-table>
</div>
<nz-pagination [nzPageIndex]="currentPage+1" [nzTotal]="total" [nzPageSize]="pageSize"
    (nzPageIndexChange)="handleChangePage($event)"></nz-pagination>