[nz-button] {
    width: 100%;
    margin-bottom: 15px;
}

[nz-input] {
    border: none;
}

[nz-row] {
    margin-bottom: 15px;
    border: 1px solid #9d9d9d;
}

.title {
    text-align: center;
}

.wrapper {
    width: 30%;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

.link-text {
    color: orange;
    cursor: pointer;
}

.link-text:hover {
    text-decoration: underline;
}

.background-brown {
    background-color: #DCA447;
    color: #fff;
}

button.background-brown:hover {
    background-color: #df8f0d;
    color: #fff;
    border-color: #df8f0d;
}

button.background-brown:active {
    background-color: #df8f0d;
    color: #fff;
    border-color: #df8f0d;
}